body{			/*body*/
	margin: 0;
	padding: 0;
	background-color: #040F09;
	color: #00FFDF;
}
.header_img {   /*main banner image*/
	 margin: 0;
  	
}
.header{   		/*headder*/
	background-color: rgb(0,0,0);
	padding: 0 0 0 30% ;
	z-index: -1;
}
.float_right{
	float: right;
}
.top_navi_bar{
	list-style-type: none;
}
ul{		/*top navigation*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0,0,0);
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  width: 20%;
  height: 30%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #177B80;
}
.active {
  background-color: #2FB57C;
}
